@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
<div class="text-left">
    <table style="width:100%">
        <td>
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a1/Stone-Clinic-Logo.png" alt="Logo of Clinic" height="100px" width="100px" />
        </td>
        <td>
            <h1 class="display-4">Welcome To Health Support</h1>
            <h3>Power to heal and the spirit to care !</h3>
        </td>
        <td>
            <h3><a href="~/UserLogins/Login">Sign-Up</a></h3>
            
            <h3><a href="~/Registers/Create">Register</a></h3>
        </td>
    </table>
</div>