
@{
    ViewData["Title"] = "Success";
}

<h1>Success</h1>
@*<table>
    <h3><a href="~/PatientDetails/Create">Patient Details</a></h3>
    <h3><a href="~/DocDetails/Create">Doctor Details</a></h3>
</table>*@
<table>
    @*<td>
        <div class="button"<a>href="~/PatientDetails/Create"><span>Add Patient</span></a></div>
    </td>
    <td>
        <div class="button" <a>href="~/DocDetails/Create"><span>Add Doctor</span></a></div>
    </td>
    <td>
        <button type="button"<a>href="~/Appointments/Create"><span>Add Appointment</span></a></div>
    </td>
    <button onclick="document.location='default.asp'">HTML Tutorial</button>
    <button onclick="document.location='/Appointments/Create'">Add Appointment</button>
    <button onclick="document.location='/DocDetails/Create'">Add Doctor</button>
    <button onclick="document.location='/PatientDetails/Create'">Add Patient</button>
    <button type="button" class="btn btn-primary">Primary</button>
    <a href="~/PatientDetails/Create">PatientDetails</a>*@
    @*<button type="button" class="btn btn-primary btn-lg"> <a href="~/PatientDetails/Create">PatientDetails</a></button>
        <button type="button" class="btn btn-primary btn-lg"><a href="~/PatientDetails/Create"><span>Add Patient</span></a>Hello World</button>
        <button type="button" class="btn btn-info btn-lg"><a href="~/PatientDetails/Create"><span>Add Patient</span></a>Hello WorldBasic</button>*@
    <td>
        <button type="button" class="btn btn-info btn-lg"><a href="~/DocDetails/Create">CLICK HERE FOR<==</a>Doctor Details</button>
    </td>
    <br />
    <td>
        <button type="button" class="btn btn-info btn-lg"><a href="~/PatientDetails/Create">CLICK HERE FOR<==</a>Patient Details</button>
    </td>
    <br/>
    <td>
        <button type="button" class="btn btn-info btn-lg"><a href="~/Appointments/Create">CLICK HERE FOR<==</a>Fix An Appointment</button>
    </td>
    <br/>
    

</table>




