@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <table style="width:100%">
        <td>
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a1/Stone-Clinic-Logo.png" alt="Logo of Clinic" height="100px" width="100px" />
        </td>
        <td>
            <h1 class="display-4">Welcome To Health Support</h1>
            <p>Hospitals Are About Healing</p>
        </td>
        <div class="text-right">
            <a href="~/Home/Index">Sign-Up</a>
            <a href="~/Home/Index">/Register</a>
        </div>
        <br/>
        <div class="text-right">
            <a href="~/Home/Index">Login</a>
        </div>
        <table>
</div>
        
